<div class="mainContainer">
  <div class="container">
    <div class="leftNav">
      <div class="navItem"><img class="" src="../assets/icons/dashboard.svg" alt=""><a  routerLink="/dashboard" >Dashboard</a></div>
      <div class="navItem"><img class="" src="../assets/icons/newbooking.svg" alt=""><a routerLink="/newbooking">New Booking</a></div>
      <div class="navItem"><img class="" src="../assets/icons/rooms.svg" alt=""><a routerLink="/rooms">Rooms</a></div>
      <div class="navItem"><img class="" src="../assets/icons/bookinghistory.svg" alt=""><a routerLink="/bookinghistory">Booking History</a></div>
      <div class="navItem"><img class="" src="../assets/icons/advancebooking.svg" alt=""><a routerLink="/advancebookings">Advance Bookings</a></div>
      <div class="navItem"><img class="" src="../assets/icons/reminders.svg" alt=""><a routerLink="/reminders">Reminders</a></div>
      <div class="navItem"><img class="" src="../assets/icons/transactions.svg" alt=""><a routerLink="/transactions">Transactions</a></div>
      <div class="navItem"><img class="" src="../assets/icons/settings.svg" alt=""><a routerLink="/settings">Settings</a></div>
    </div>
    <div class="contentArea">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
