.mainContainer{
  width: 100vw;
  .container{
    width: 100%;
    max-width: 100%;
    display: flex;
    .leftNav{
      width: 17%;
      background: #fff;
      height: 100vh;
      padding: 0 10px;
      .navItem{
        display: flex;
        gap: 10px;
        margin: 20px 0;
        img{
          
          width: 25px;
        }
      }
    }
    .contentArea{
      width: 80%;
    }
  }
}