<div class="mainContainer">
  <div class="container">
    <div class="leftNav">
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/dashboard.svg" alt=""><a  routerLink="/dashboard" class="anchor">Dashboard</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/newbooking.svg" alt=""><a routerLink="/newbooking" class="anchor">New Booking</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/rooms.svg" alt=""><a routerLink="/rooms" class="anchor">Rooms</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/bookinghistory.svg" alt=""><a routerLink="/bookinghistory" class="anchor">Booking History</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/advancebooking.svg" alt=""><a routerLink="/advancebookings" class="anchor">Advance Bookings</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/reminders.svg" alt=""><a routerLink="/reminders" class="anchor">Reminders</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/transactions.svg" alt=""><a routerLink="/transactions" class="anchor">Transactions</a></div>
      <div class="navItem" routerLinkActive="active"><img class="icon" src="../assets/icons/settings.svg" alt=""><a routerLink="/settings" class="anchor">Settings</a></div>
    </div>
    <div class="contentArea">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
